

body {
    margin: 0;
    background: #1B244A
}

.container {
    display: flex;
    justify-content: space-around;
}

.scoreboard {
    width: 110px;
    height: 90px;
    background: black;
    color: red;
    border-radius: 6px;
    text-align: center;
    font-size: 54px;
 }
 
 .team {
     color: white;
 }
 
 .btn-score {
     margin-top: 15px;
}

button {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background: #1B244A;
    color: white;
    border: 1px solid white;
}